body
{
    margin-left:10vw;
    margin-right:10vw;
    font-family: 'Inter var',sans-serif;
}
#header-container
{
    display:flex;
    justify-content: space-between;
    margin-bottom:5vh;
}

#header
{
    text-decoration: none;
    color:black;
    display: block;
    padding:1vw;
    height:fit-content;
}

#header:hover
{
    background-color: #0077b5;
    color:white;
}

.header
{
    width:100%;
    text-align: center;
    margin-bottom:5vh;
}

#educard-container
{
    display:flex;
    justify-content:space-evenly;
    margin-bottom:5vh;
}

.project-cardcontainer
{
    border:2px solid #0077b5;
    border-radius:4px;
    margin-bottom:2vh;
    height:fit-content; 
}
#project-card,.project-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:2vh;
}

#project-card > svg
{
    display: block;
}

#educard
{
    border:2px solid #0077b5;
    border-radius:4px;
    padding:1vw;
    width:22vw;
}

#educard > *
{
    text-align: center;
}

#portfolio-container
{
    display: flex;
    justify-content: space-between;
}

#skills-container
{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    margin-bottom:5vw;
    grid-gap:5px;
}

#skill-container
{
    display:flex;
    justify-content: space-between;
    border:2px solid #0077b5;
    border-radius:4px;
    padding:2vh;
    align-items: center;
}

.star-full
{
    color: gold;
}
.star-container
{
    display: none;
}
.star-empty
{
    color: white;
}

#skill-container:hover > .star-container 
{
   display: block;
}

#skill-container:hover
{
    background-color:#0077b5;
    color:white;
}